$default-font-size: 1.6rem;

$color-grey-dark: #475569;
$color-grey-light: #cbd5e1;
$color-white: rgb(255, 255, 255);
$color-black: #000000;
$color-yellow: #fef08a;
$color-grey-blue: #334155;
$color-red: #ef4444;