@use "../abstracts/variables";

.current-weather {
  width: min-content;
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 1rem;

  &__temperature {
    font-size: 10rem;
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__city {
      font-size: 5rem;
    }

    &__date {
      font-size: 1.6rem;
      white-space: nowrap;
    }
  }

  &__icon-box {
    height: 100%;
    width: 12rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 100%;
  }
}