@use '../abstracts/variables';

.weather-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: variables.$color-grey-dark;
  transition: all .3s;

  &__title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
  }

  &__row {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    &::before {
      background: variables.$color-yellow;
      content: "";
      left: -1rem;
      right: -1rem;
      top: .75rem;
      bottom: .75rem;
      border-radius: 2rem;
      position: absolute;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease-in;
      z-index: -1;
    }

    &:hover::before {
      transform: scaleX(1);
      transform-origin: left;
    }

    &:not(:first-of-type) {
      border-top: 1px solid variables.$color-grey-dark;
    }
  }
}