@use "../abstracts/variables";

.week-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-top: 5rem;
  gap: 2rem;
  width: 70rem;
  margin: 10rem auto 5rem auto;
  margin-left: 5rem;
  margin-right: 0;

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    transition: all .3s;

    &__day {
      width: 13rem;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:not(:last-of-type) {
      border-bottom: 2px solid variables.$color-white;
    }

    &__icon-box {
      width: 5rem;
      justify-self: start;
    }

    &__temp-box {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__joiner {
      width: 10rem;
      height: .7rem;
      border: 1px solid variables.$color-white;
      border-radius: 10rem;
    }
  }
}
